@using EmotionAnalyzerWeb.Models

@if (Result != null)
{
    <div class="card result-card">

        <div class="card-body">

            <h2>
                Analysis result
            </h2>


            <p>
                <b>Text:</b>
                @Result.Text
            </p>



            @foreach (var emotion in Result.Predictions)
            {
                <div class="emotion-row">

                    <div>
                        <b>
                            @emotion.Emotion
                        </b>

                        :
                        @emotion.Confidence.ToString("P2")
                    </div>


                    <div class="emotion-progress">

                        <div class="emotion-progress-bar @GetEmotionColor(emotion.Emotion)"
                             style="@($"width:{(emotion.Confidence * 100).ToString("F1", System.Globalization.CultureInfo.InvariantCulture)}%")">
                        </div>

                    </div>

                </div>
            }


        </div>

    </div>
}


@code {

    [Parameter]
    public EmotionPredictionResult? Result { get; set; }



    private string GetEmotionColor(string emotion)
    {
        return emotion.ToLower() switch
        {
            "joy" => "joy",
            "sadness" => "sadness",
            "anger" => "anger",
            "fear" => "fear",
            "love" => "love",
            "surprise" => "surprise",
            _ => "default"
        };
    }

}